extends layout

block content
  h1.knight
  h2 Reti Chess
  p.margin-fifty.center A lightweight real-time chess app built in Node.js, Express framework and Socket.IO

  div#form
    form#create_form(action='')
      fieldset
        label Minutes per side: 
          input#minutes(type='number', value='30', min='1', max='50', required)
        label(style='padding-left: 2em;') Increment in seconds:
          input#seconds(type='number', value='0', min='0', max='50', required)
      input#game_link.game_link(type='text', readonly, value='Game link will be generated here.')
      button.button#play(type='submit') Play
  
    p#waiting Generating game link.
  
  p.center Click the button play to create a game. Send the link to your friend. Once the link is opened in your friend's browser, game should begin shortly. Colours are picked randomly by computer. 

  p.center
    a(href='/about', class='alpha') Read more about Reti Chess

block scripts
  script(type='text/javascript', src='/javascripts/start.js')