doctype html
html(lang='en')
  head
    - if (typeof(title) !== 'undefined')
      title #{title} | Reti Chess
    - else
      title Reti Chess
    meta(charset='utf-8')
    meta(name='robots', content='index, follow')
    meta(itemprop='name=Reti Chess')
    meta(name='description', content='Reti Chess is a lightweight real-time chess app built in Node.js with use of Express framework and Socket.IO')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/img/logo.png')
    link(rel='stylesheet', href='/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Cherry+Swash|Open+Sans:400,600', rel='stylesheet', type='text/css')

  body
    #container-wrapper.clearfix
        block content
        
    footer
      #footer.clearfix
        p.center Distributed under 
          a(href='http://opensource.org/licenses/MIT') the MIT License
          | &nbsp;&nbsp;&bull;&nbsp;&nbsp;
          a(href='http://github.com/romanmatiasko/reti-chess') Github repo

    - if (process.env.NODE_ENV === 'development')
      script(src='/js/vendor.js')
    block scripts