header {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  height: 50px;
}

#container-wrapper {
  max-width: 960px;
  width: 100%;
  height: auto;
  padding: 1em 2em;
  margin: 0 auto;
  clear: both;
}

#container {
  width: 100%;
  min-height: 600px;
  margin: 0px 0px 20px 0px;
  float: left;
}

input, button {
  font-family: 'Open Sans';
  outline: none;
}

input:required {
  box-shadow: none;
}

.btn {
  width: 15%;
  height: 50px;
  display: block;
  font-size: 1.125rem;
  border-radius: 2px;
  border: 0;
  border-bottom: 2px solid darken($blue, 5%);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: $blue;
  color: white;
  cursor: pointer;
  float: right;
  box-shadow: inset 0 -2px darken($blue, 5%);
  position: relative;

  &:hover {
    background: lighten($blue, 5%);
    border-bottom: 2px solid darken($blue, 2%);
    box-shadow: inset 0 -2px darken($blue, 2%);
    transition: all 0.2s ease-in-out;
  }
  &:active {
    top: 1px;
  }
}

a.btn {
  width: 120px;
  line-height: 46px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.btn--red {
  background: $red;
  border-color: darken($red, 5%);
  box-shadow: inset 0 -2px darken($red, 5%);
  margin-right: 10px;

  &:hover {
    background: lighten($red, 5%);
    border-bottom: 2px solid darken($red, 2%);
    box-shadow: inset 0 -2px darken($red, 2%);
    transition: all 0.2s ease-in-out;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 2em;
  text-align: center;
  border-bottom: 8px solid darken($grey, 10%);

  p, a {
    font-size: .85rem;
    margin-bottom: 0;
  }

  a {
    color: darken($grey, 45%);
    &:hover {
      color: darken($grey, 40%);
    }
  }
}

#footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 3em 1em 0; 
}

#container-wrapper, footer {
  min-width: 480px;
}

.modal-mask {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 10;
  transition: all 0.2s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  > p {
    color: #eee;
    margin: 2em;

    strong {
      color: #fff;
    }
  }
}

.modal {
  width: 420px;
  height: 180px;
  position: fixed;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: -90px;
  border: 8px solid lighten($dark-purple, 10%);
  box-shadow: 0 10px 30px #333;
  cursor: auto;
  z-index: 15;

  p {
    text-align: center;
    padding: 1.5em;
  }
  .btn {
    position: absolute;
    bottom: 1em;

    &.ok {
      left: 50%;
      margin-left: -60px;
    }

    &:active {
      top: auto;
      bottom: calc(1em + 1px);
    }
  }
}